<section>
    <div>
        <img src="https://img.freepik.com/fotos-gratis/grupo-de-pessoas-diversas-tendo-uma-reuniao-de-negocios_53876-25060.jpg?w=2000&t=st=1705684585~exp=1705685185~hmac=d917106940de5a8a0a96478fa198369169695e1460d5ebf0e99d48fe4ce6eaf4" >
        <div>
            <div class="post-info">
                <span>Olivia Rhye </span>
                <fa-icon [icon]="faCircle"></fa-icon>
                <span> 20 Jan 2022</span>
            </div>
            <div class="post-texts">
                <h2>Apresentação de Análise de UX</h2>
                <p>
                    Como criar apresentações atraentes que impressionam
                    seus colegas e seus gerentes?
                </p>
            </div>
        </div>
    </div>
    <div class="post-tags">
        <app-post-tag></app-post-tag>
        <app-post-tag></app-post-tag>
        <app-post-tag></app-post-tag>
    </div>
</section>
