<section>
    <div>
        <img [src]="postImg" >
        <div>
            <div class="post-info">
                <span>{{ postAuthor }} </span>
                <fa-icon [icon]="faCircle"></fa-icon>
                <span> {{ postDate }}</span>
            </div>
            <div class="post-texts">
                <h2><a [routerLink]="['/post', id]">{{ postTitle }}</a></h2>
                <p>{{ postSummary }}</p>
            </div>
        </div>
    </div>
    <div class="post-tags">
        <app-post-tag></app-post-tag>
        <app-post-tag></app-post-tag>
        <app-post-tag></app-post-tag>
    </div>
</section>
