section {
    display: flex;
    flex-direction: column;
}

section > div {
    display: flex;
    flex-direction: row;
}

section > div > img {
    width: 50%;
    height: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    border-radius: 0.2rem;
}

section > div > div {
    display: flex;
    flex-direction: column;
}

.post-info {
    display: flex;
    flex-direction: row;
}

.post-info > span{
    color: var(--color-primary);
}

.post-info > fa-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    font-size: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

h2 {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
}

p {
    color: gray; 
    font-size: 1.1rem;
    margin: 0.5rem 0rem 1rem 0rem ;
}

.post-tags {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

app-post-tag {
    margin-right: 0.5rem;
}

.post-texts {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    align-items: start
}