<section>
    <app-nav-bar></app-nav-bar>
    <app-title></app-title>
    <div class="recent-posts">
        <h2>Posts recentes do blog</h2>
        <div>
            <div class="cards-left">
                <app-big-card
                    postAuthor="{{ posts[0].author }}"
                    postDate="{{ posts[0].date }}"
                    postImg="{{ posts[0].img }}"
                    postSummary="{{ posts[0].summary }}"
                    postTitle="{{ posts[0].title }}"
                ></app-big-card>
            </div>
            <div class="cards-right">
                <app-small-card
                    postAuthor="{{ posts[1].author }}"
                    postDate="{{ posts[1].date }}"
                    postImg="{{ posts[1].img }}"
                    postSummary="{{ posts[1].summary }}"
                    postTitle="{{ posts[1].title }}"
                ></app-small-card>
                <app-small-card
                    postAuthor="{{ posts[2].author }}"
                    postDate="{{ posts[2].date }}"
                    postImg="{{ posts[2].img }}"
                    postSummary="{{ posts[2].summary }}"
                    postTitle="{{ posts[2].title }}"
                ></app-small-card>
            </div>
        </div>
    </div>
</section>
