<section>
    <app-nav-bar></app-nav-bar>
    <app-title></app-title>
    <div class="recent-posts">
        <h2>Posts recentes do blog</h2>
        <div>
            <div class="cards-left">
                <app-big-card
                    postAuthor="Teste"
                    postDate=""
                    postImg=""
                    postSummary=""
                    postTags=""
                    postTitle=""
                ></app-big-card>
            </div>
            <div class="cards-right">
                <app-small-card
                    postAuthor="Teste"
                    postDate=""
                    postImg=""
                    postSummary=""
                    postTags=""
                    postTitle=""
                ></app-small-card>
                <app-small-card
                    postAuthor="Teste"
                    postDate=""
                    postImg=""
                    postSummary=""
                    postTags=""
                    postTitle=""
                ></app-small-card>
            </div>
        </div>
    </div>
</section>
