/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #aa00ff;
    --color-purple: #aa00ff;
    --color-purple: #aa00ff88;
    --color-secondary: #8439aa;
    --color-dark-purple: #8439aa;
    --color-green: #c6ff00;
    --color-green-light: #c6ff0088;
    --color-blue: #00efff;
    --color-blue-light: #00efff88;
    --color-orange: #ff6700;
    --color-orange-light: #ff670088;
}

body, app-root, app-home, app-post {
    display: flex;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0rem;
    justify-content: center;
}

app-root {
    width: 1350px;
}